body {
    background-color: #f6f1e9;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
        display: flex;
  flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  #navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: #4f200d;
    position: fixed;
  }
  #navbar #nav {
    float: right;
    padding-top: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: block;
  }
  
  
  .bar:hover .dropdown-content {
    display: block;
  }
  
  .bar {
    list-style: none;
    display: inline-block;
    padding-right: 40px;
  }
  .bar a {
    text-decoration: none;
    color: #f6f1e9;
  }
  #logo {
    float: left;
    padding-top: 5px;
    margin-left: 1.5%;
  }

footer {
  background-color: #332C23;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer .logo {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

footer .title {
  float: left;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 10px;

}

footer .links {
  float: right;
  margin-top: 20px;
}

footer .links a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
}

footer .bottom {
  clear: both;
  margin-top: 50px;
  font-size: 12px;
  color: lightgray;
}




header {
  background-color: #f6f1e9;
  color: #4f200d;
  text-align: center;
  font-size: 150%;
  font-weight: 1200;
  margin-top: 50px;
}

main {
  padding: 20px;
}

h1 {
  color: #4f200d;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.dish {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.dish h2 {
  color: #4f200d;
}

.dish p {
  margin: 10px 0;
}

.dish img {
  max-width: 90%;
  border-radius: 5px;
}

.column {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a[href^="asean.html"]::after
{
    display: inline-block;
    width: 30px;
    height:30px;
    margin-left: 15px;
    content: "";
    background: url("data/aseanicon.png") no-repeat 0 0;
    background-size: 100%;
    vertical-align: middle;
}